body {
  background-color: #6A0888;
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
  max-zoom: 100%;
}

header {
  position: fixed;
  width: 100%;
  line-height: 50px;
  line-height: 7.5vh;
  background-color: #6A0888;
  font-size: 18px;
  font-size: 2vmax;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 10;
}

#banner {
  background-image: url("images/banner.jpg");
  background-position: 60% 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 780px;
  height: 93vh;
  position: relative;
}

#bannerText {
  color: transparent;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#bannerText a, #bannerText p {
  color: transparent;
  font-size: 25px;
  font-size: 2.25vmax;
  text-decoration: none;
}

.no-touch #bannerText a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {color: opacity: 0;
        color: transparent;
        text-shadow:
          -2px -2px 0 transparent,
           2px -2px 0 transparent,
          -2px 2px 0 transparent,
           2px 2px 0 transparent;
        text-shadow:
          -0.2vmax -0.2vmax 0 transparent,
           0.2vmax -0.2vmax 0 transparent,
          -0.2vmax 0.2vmax 0 transparent,
           0.2vmax 0.2vmax 0 transparent;}
  to {color: opacity: 1;  
      color: white;
      text-shadow:
        -2px -2px 0 transparent,
         2px -2px 0 transparent,
        -2px 2px 0 transparent,
         2px 2px 0 transparent;
      text-shadow:
        -0.2vmax -0.2vmax 0 #000,
         0.2vmax -0.2vmax 0 #000,
        -0.2vmax 0.2vmax 0 #000,
         0.2vmax 0.2vmax 0 #000;}
}

@-webkit-keyframes fadeIn{
  from {color: opacity: 0;
        color: transparent;
        text-shadow:
          -2px -2px 0 transparent,
           2px -2px 0 transparent,
          -2px 2px 0 transparent,
           2px 2px 0 transparent;
        text-shadow:
          -0.2vmax -0.2vmax 0 transparent,
           0.2vmax -0.2vmax 0 transparent,
          -0.2vmax 0.2vmax 0 transparent,
           0.2vmax 0.2vmax 0 transparent;}
  to {color: opacity: 1;  
      color: white;
      text-shadow:
        -2px -2px 0 transparent,
         2px -2px 0 transparent,
        -2px 2px 0 transparent,
         2px 2px 0 transparent;
      text-shadow:
        -0.2vmax -0.2vmax 0 #000,
         0.2vmax -0.2vmax 0 #000,
        -0.2vmax 0.2vmax 0 #000,
         0.2vmax 0.2vmax 0 #000;}
}
  
#bannerText.animation h1{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  text-align: center;
}

@keyframes fadeIn2 {
  from {color: opacity: 0;
        color: transparent;
        text-shadow:
          -1px -1px 0 transparent,
           1px -1px 0 transparent,
          -1px 1px 0 transparent,
           1px 1px 0 transparent;
        text-shadow:
          -0.15vmax -0.15vmax 0 transparent,
           0.15vmax -0.15vmax 0 transparent,
          -0.15vmax 0.15vmax 0 transparent,
           0.15vmax 0.15vmax 0 transparent;}
  to   {transform: translateY(-20px);
        transform: translateY(-2vmax);
        color: opacity: 1;  
        color: white;
	text-shadow:
          -1px -1px 0 transparent,
           1px -1px 0 transparent,
          -1px 1px 0 transparent,
           1px 1px 0 transparent;
        text-shadow:
          -0.15vmax -0.15vmax 0 #000,
           0.15vmax -0.15vmax 0 #000,
          -0.15vmax 0.15vmax 0 #000,
           0.15vmax 0.15vmax 0 #000;}
}

@-webkit-keyframes fadeIn2 {
  from {color: opacity: 0;
        color: transparent;
        text-shadow:
          -1px -1px 0 transparent,
           1px -1px 0 transparent,
          -1px 1px 0 transparent,
           1px 1px 0 transparent;
        text-shadow:
          -0.15vmax -0.15vmax 0 transparent,
           0.15vmax -0.15vmax 0 transparent,
          -0.15vmax 0.15vmax 0 transparent,
           0.15vmax 0.15vmax 0 transparent;}
  to   {-webkit-transform: translateY(-20px);
        -webkit-transform: translateY(-2vmax);
        color: opacity: 1;  
        color: white;
        text-shadow:
          -1px -1px 0 transparent,
           1px -1px 0 transparent,
          -1px 1px 0 transparent,
           1px 1px 0 transparent;
        text-shadow:
          -0.15vmax 0.15vmax 0 #000,
           0.15vmax -0.15vmax 0 #000,
          -0.15vmax 0.15vmax 0 #000,
           0.15vmax 0.15vmax 0 #000;}
}

#bannerText.animation p, #bannerText.animation a {
  color: transparent;
  -webkit-animation-name: fadeIn2;
  animation-name: fadeIn2;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#top {
  height: 50px;
  height: 7vh;  
}

#about, #education, #teaching {
  padding: 0 10px;
  padding: 0 2vw;
}

#about table, #education table, #teaching table {
  height: 780px;
  height: 93vh;
}

#about {
  background-color: #ff9999;
}

#education {
  background-color: #D0A9F5;
}

#education a {
  color: black;
  text-decoration: none;
}

.no-touch #education a:hover {
  text-decoration: underline;
}

#teaching {
  background-color: aquamarine;
}

#gallery {
  background-color: #D0A9F5;
  padding: 0 10px;
  padding: 0 2vmax;
}

#gallery table {
  height: 680px;
  height: 80vh;
  text-align: center;
}

.slidesContainer {
  width: 400px;
  width: 50vw;
  text-align: center;
}

.arrows {
  width: 100px;
  width: 25vw;
}

#captionText {
  font-size: 14px;
  font-size: 1.5vmax;
  font-weight: bold;
}

.leftArrow, .rightArrow, .dots {
  cursor: pointer;
  color: #a85fec;
}

.no-touch .leftArrow:hover, .no-touch .rightArrow:hover {
  color: #6a0888;
}

.dotsContainer {
  padding-top: 40px;
  padding-top: 5vh;
}

.dotsContainer .active {
  color: #6a0888;
}

table {
  display: table-cell;
  vertical-align: middle;
  width: 96vw;
}

h1 {
  font-size: 70px;
  font-size: 7vmax;
}

h3 {
  margin-top: 0;
  font-size: 25px;
  font-size: 3vmax;
}

p {
  font-size: 16px;
  font-size: 1.75vmax;
}

td {
  font-size: 16px;
  font-size: 1.75vmax;
}

footer {
  background-color: #6A0888;
  color: #D0A9F5;
  font-size: 9px;
  font-size: 1.5vh;
  height: 100px;
  height: 12.5vh;
  display: table;
  width: 100%;
}

footer a {
  color: #D0A9F5;
  text-decoration: none;
}

.no-touch footer a:hover {
  text-decoration: underline;
}

.vm {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Images */
#mail {
  height: 25px;
  height: 4vh;
  vertical-align: middle;
}

#me, #joke {
  width: 200px;
  width: 25vw;
}

#mac, #brock, #mohawk {
  width: 145px;
  width: 15vmax;
}

.mySlides {
  display: none;
  width: 400px;
  width: 70vmin;
  margin: 0 auto;
}